
.ListContainer{
  width:100%;
  display:flex;
  flex-direction: column;
  background-color: white;
  position:absolute;
  top:0;
  transition: width 0.3s;
  right:0;
}

.ListContainer.Large{
  position: inherit;
  width:25%;
  min-width: 260px;
}

.List{
  overflow-y: auto;
  margin:0;
  padding:0;
  list-style-type: none;
}

.List.Large{
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}
.ItemName{
  font-weight: bold;
}

.ItemValue{
  font-size: 0.7em;
  margin-left: 5px;
  float:right;
}

.ListItem{
  padding:1px;
  padding-right:
  10px;padding-left: 10px;
}

.ListItem:hover{
  background-color: #efefef;
}

.closeButton{
  position:absolute;
  top:0;
  right:0;
  font-size: 2em;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
